.currentParticipant {
    background-color: #5CB134;
    color: #ffff !important;
}

.list {
    min-width: 200px;
}

.participantsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
